# Node modules
node_modules/

# Logs
logs/
*.log
signup_log.txt
successful_signups.txt
failed_signups.txt


# Sensitive data
emails.xlsx
emails-2.xlsx

# System files
.DS_Store
Thumbs.db

# Ignore extensions
buster-extension/
nocaptcha-extension/



# Editor-specific files
.vscode/
.idea/
*.swp
